@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        font-size: 62.5%;
    }

    body {
        font-size: 1.6rem;
    }

    .h1,
    .h2,
    .h3,
    .h4 {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.2;
    }

    .ff-open-sans {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.2;
    }

    a:focus,
    a:visited,
    a:active {
        outline: none;
    }

    .bg-center-cover {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Všeechny články */
    .articles-grid {
        width: 100%;
        height: 300px;
        position: relative;
        box-shadow: 1px 5px 15px 3px #a4a4a496;
    }

    .articles-grid>* {
        position: relative;
    }


    .articles-grid:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transition: .5s all;

    }

    .articles-grid.active:before {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Slider */

    .articles-slider-item {
        position: relative;
    }

    .articles-slider-item>* {
        position: relative;
    }

    .articles-slider-item::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: 0.5s all;
    }

    .articles-slider-item.active::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s all;
    }

    .articles-slider-controls.active {
        display: none !important;
    }

    .articles-slider-controls {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
    }


    @media screen and (max-width:767px) {
        .modal {
            width: 100%;
        }
    }

    .slider-switcher div.active {
        background-color: #113E59;
        color: white;
    }

    .controls-prev svg:hover,
    .controls-next svg:hover {
        stroke: white !important;
    }


    .slider-item {
        flex: 0 0 80%;
        min-width: 0;
        margin-right: 2px;
        margin-bottom: 2px;
    }


    @media screen and (max-width:576px) {
        .slider-item{
            flex: 0 0 100%
        }
    }
}